{% extends "layout.html" %}

{% block title %}
	User's repos
{% endblock %}
{% block main %}
	<h1 class="display-3">
		Github repositories of 
		{% if "User" in user["type"] %}
			<span class="darker_blue">user</span>
		{% else %}
			<span class="darker_blue">organization</span>
		{% endif %}
		<span class="blue_title">{{ user["login"] }}</span>
	</h1>
	<h1 class="display-4">&emsp;{{ user["name"] }}</h1>
	
	<div class="pt-5"></div>
	<div class="pt-3">
		{% if user["location"] is not none %}
			<p class="lead" style="font-size: x-large;">Located in <span class="blue_title">{{ user["location"] }}</span></p>
		{% endif %}
		{% if user["email"] is not none %}
			<p class="lead" style="font-size: x-large;">Email: <span class="blue_title">{{ user["email"] }}</span></p>
		{% endif %}
		<p class="lead" style="font-size: x-large;">Github member since {{ user["created_date_string"] }}</p>
		<p class="lead" style="font-size: xx-large"><span class="blue_title">{{ user["login"] }}</span> currently has 
				<span class="blue_title">{{ repos|length }}</span> public repositories</p>
		<img alt="user pic" src="{{ user['avatar_url'] }}" class="float-right rounded-circle" style="width:300px; height:300px"/>
	</div>
	<div class="pt-4"></div>
	{% for repo in repos %}
		<div>
			<div class="pt-4 border border-right-0 border border-left-0">
				<p class="lead"><span class="darker_blue">Name of repository: </span> <br/>&emsp;{{ repo["name"] }}</p>
				<p class="lead"><a href= "{{ repo['html_url'] }}" >Link to repository</a></p>
				<p class="lead"><span class="darker_blue">Description:</span> <br/>&emsp;{{ repo["description"] }}</p>
				<p class="lead"><span class="darker_blue">Language used:</span> <br/>&emsp;{{ repo["language"] }}</p>
				<p class="lead"><span class="darker_blue">Size of repository:</span> <br/>&emsp;{{ repo["size"] }}KB</p>
				<p class="lead">Updated at {{ repo["updated_date_string"] }}</p>
			</div>
		{% endfor %}

	</div>
{% endblock %}